.bubble {
  position: fixed;
  top: 140px;
  left: 140px;
  width: 60%;
  max-height: 200px;
  overflow: auto;
  padding: 20px;
  line-height: 28px;
  font-size: 18px;
  background-color: rgb(226, 226, 226);
  color: black;
  font-family: monospace;
  z-index: 99;
  box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.189);
}

.text-danger {
  color: red;
}